* {
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.container h1 {
  margin-bottom: 30px;
  text-align: center;
}

.container .container-livros {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}