* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.content-wrapper h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px; 
}

.content-wrapper .container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content-wrapper .container .button-container {
  text-align: center;
  margin-bottom: 20px;
}
.content-wrapper .container .sort-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin: 0 10px;
}
.content-wrapper .container .sort-button:hover {
  background-color: #0056b3;
}
.content-wrapper .container ul {
  list-style-type: none;
  padding: 0;
}
.content-wrapper .container .it_list {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.content-wrapper .container .it_list:hover {
  background-color: #f0f0f0;
}
.book-list {
  display: none;
  margin-top: 10px;
  padding-left: 20px;
}
.book-list ul {
  padding: 0;
  list-style-type: square;
}
.book-list li {
  padding: 5px 0;
}
